.DS_Store
.context/
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.coverage
.pytest_cache/
htmlcov/
build/
site/
*.whl
!dist/
dist/*.whl
dist/*.tar.gz
!dist/naaccr-lri-validator.html
.idea/
.vscode/
*~
